@use "../abstracts/index.scss" as *;

.searchbar {
  @include flex-center;
  flex-direction: column;
  margin: 8rem 2rem 4rem 2rem;
}

.relative {
  @include flex-center;
  flex-direction: column;
  width: 100%;

  > input {
    max-width: 75rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid $primary-color;
  }
  > input::placeholder {
    text-align: center;
  }

  > p {
    margin: 1rem 0;

    > a {
      color: $secondary-color;
    }
  }
}

.postfound {
  @include box-shadow;
  max-width: 75rem;
  width: calc(100% - 1rem);
  position: absolute;
  top: 23rem;
  background-color: white;
  border-radius: 0.5rem;

  > li {
    list-style: none;
    margin-top: 1rem;

    > a {
      font-size: 1.6rem;
    }

    > p {
      font-size: 1.4rem;
    }
  }
}

.py-2 {
  padding: 1.5rem 1rem;
}
