---
export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("../posts/terms/*.{md,mdx}");
  const descPosts = allPosts.sort(function (a, b) {
    a.title < b.title ? 1 : -1;
  });

  return paginate(descPosts, {
    pageSize: 5,
  });
}
const { page } = Astro.props;

import PostSummary from "../../components/postSummary.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="post-summary-wrapper">
    {
      page.data.map((post) => (
        <PostSummary
          header={post.frontmatter.title}
          description={post.frontmatter.description}
          link={post.frontmatter.link}
        />
      ))
    }
  </section>
</Layout>

<style lang="scss">
  .post-summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 0 2rem;
  }
</style>
