---
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/terms/*.{md,mdx}");
  const posts = allPosts.filter(
    (post) => !post.frontmatter.draft && post.frontmatter.slug
  );

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: { post },
  }));
}
const { post } = Astro.props;

import "../styles/components/article.scss";

import SearchBar from "../components/SearchBar.astro";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout
  title={post.frontmatter.title}
  description={post.frontmatter.description}
>
  <Nav />
  <SearchBar />
  <section class="article-wrapper">
    <article class="article-title">
      <h2>{post.frontmatter.title}</h2>
      <p>{post.frontmatter.published}</p>
    </article>
    <post.Content />
  </section>
</Layout>
