---
export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*{md,mdx}");
  const posts = allPosts.filter(
    (post) => !post.frontmatter.draft && post.frontmatter.slug
  );

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: { post },
  }));
}
const { post } = Astro.props;

import SearchBar from "../components/SearchBar.astro";
import BlogPostLayout from "../layouts/BlogPostLayout.astro";
import Nav from "../components/Nav.astro";
---

<BlogPostLayout
  title={post.frontmatter.title}
  description={post.frontmatter.description}
>
  <Nav />
  <SearchBar />
  <h2>{post.frontmatter.title}</h2>
  <p>
    {post.frontmatter.description}
  </p>
  <post.Content />
</BlogPostLayout>
