---
import LayoutBasic from "../layouts/LayoutBasic.astro";
import { SOCIALS } from "../config";
import Content from "../assets/about.md";

import "../styles/components/about.scss ";
---

<LayoutBasic title="About" description="About page of Coding Terms">
  <section class="about-wrapper">
    <div class="about-info">
      <Content />
    </div>
    <div class="socials"></div>
  </section>
</LayoutBasic>
