---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Thank You - Coding Terms"
  description="Thank you page. For Sending your suggestions"
>
  <h1>Thank for submitting your suggestions!</h1>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/index.scss";
  h1 {
    @include h1;
  }
</style>
