---
export interface Props {
  home: string;
  current: string;
  title: string;
  terms: string;
}

const { home, current, title, terms } = Astro.props;
---

<section class="breadcrumbs">
  <a href={home}>Home</a>
  <span>>></span>
  <a href={terms}>Terms</a>
  <span>>></span>
  <a href={current}>{title}</a>
</section>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .breadcrumbs {
    @include flex;
    align-items: center;
    > a {
      font-size: 1.3rem;
    }

    > span {
      padding: 0 0.5rem;
    }
  }
</style>
