---
const footerLinks = [
  {
    name: "Suggest a Term",
    link: "/suggestterm",
  },
  {
    name: "All terms",
    link: "/allterms",
  },
  {
    name: "About",
    link: "/about",
  },
  {
    name: "Contact",
    link: "/contact",
  },
  {
    name: "Privacy Policy",
    link: "/privacy",
  },
  {
    name: "Cookies Policy",
    link: "/cookies",
  },
];
---

<footer class="footer-wrapper">
  <div class="footer">
    <div class="footer__logo">
      <img src="/logo/codingtermslogo.png" alt="logo coding terms" />
      <p>Decode the Language of Programming</p>
    </div>
    {
      footerLinks.map((info) => (
        <div class="footer__links">
          <a href={info.link}>{info.name}</a>
        </div>
      ))
    }
  </div>
  <p style="color: #eee; margin-top: 4rem;">Coding Terms @2023</p>
</footer>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .footer-wrapper {
    @include flex-center;
    flex-direction: column;
    background-color: $primary-color;
    margin-top: 5rem;
    padding: 3rem 0 3rem 0;
  }

  .footer {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 85rem;
    width: 100%;

    &__logo {
      padding: 2rem 1rem;
      > p {
        @include footer-para;
      }
    }

    &__links {
      @include flex-center;
      gap: 2rem;
      // > h4 {
      //   @include h4;
      //   color: $white;
      //   letter-spacing: 0.5px;
      // }

      > a {
        @include footer-links;
      }
    }
  }

  @media (max-width: 700px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
</style>
