---
import "../styles/components/navbar.scss";
---

<nav class="navbar">
  <div class="navbar__logo">
    <a href="/"
      ><img src="/logo/codingtermslogo.png" alt="Coding Terms Logo" /></a
    >
  </div>
</nav>
