---
import { Image } from "astro:assets";
import "../styles/components/navbar.scss";
import { logo } from "../consts";
import Logo from "../assets/logo/codingtermslogo.png";
---

<nav class="navbar">
  <div class="navbar__logo">
    <a href="/"
      ><Image
        src={Logo}
        width={logo.width}
        height={logo.height}
        alt={logo.alt}
      /></a
    >
  </div>
</nav>
