---
import { Image } from "astro:assets";
import "../styles/components/navbar.scss";
import { logo } from "../consts";
---

<nav class="navbar">
  <div class="navbar__logo">
    <a href="/"
      ><Image
        src={logo.src}
        alt={logo.alt}
        width={logo.width}
        height={logo.height}
      /></a
    >
  </div>
</nav>
