---
import { sortedPost } from "../resources";
---

<div class="resources-wrapper">
  <div class="resources-title">
    <h2>List of free resources to learn</h2>
  </div>
  <div class="resources-card-container">
    {
      sortedPost.map((info) => (
        <div class="resources-card">
          <h4>{info.title}</h4>
          <p>{info.desc}</p>
          <a href={info.link}>View</a>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  @use "../styles/abstracts/index.scss" as *;

  .resources-wrapper {
    height: 100svh;
  }

  .resources-title {
    max-width: 102.4rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 0;
    > h2 {
      @include h2;
    }
  }

  .resources-card-container {
    @include flex;
    align-items: center;
    justify-content: space-between;
    max-width: 102.4rem;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .resources-card {
    width: 30rem;
    height: 10rem;

    > h4 {
      @include h4;
    }

    > p {
      @include para;
    }

    > a {
      @include read-more;
    }
  }
</style>
