---
---

<section class="form-wrapper">
  <form
    action="https://formsubmit.co/8f3407a14202dd95ee4e1df4a4348a1c"
    method="POST"
  >
    <input type="text" name="name" />
    <input
      type="hidden"
      name="_next"
      value="https://codingterms.vercel.app/thankyou"
    />
    <button type="submit">Send</button>
  </form>
</section>
